.home-top{
    margin-bottom: 10px;
    width: 100%;
    height: 280px;

}




.home-top__item{
    margin-right: 40px;
    width: 250px;
}

.item__img{

    border-radius: 14px;
}

.item__userName{
    margin: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
}

.box{
    display: flex;
    justify-content: space-between;
}

.item__views{
    margin: 0;
    font-family: 'Mulish';
    font-style: normal;
     font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.item__name{
    margin: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #C2C2C2;
}