.sidebar-wrapper {
  margin-right: 20px;
  padding-left: 20px;
  width: 193px;

  h3 {
    margin-bottom: 45px;
  }
}

.list {
  list-style: none;
  padding: 0%;
}

.item {
  margin-bottom: 25px;
}

.sidebar__list-top {
  margin-bottom: 55px;
}

.sidebar__list-bottom {
  margin-bottom: 100px;
  width: 200px;
}

.sidebar__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 25px;
}

.active-link {
  text-decoration: none;
  .span {
    color: red;
  }
  svg {
    path {
      fill: rgb(233, 0, 0);
    }
  }
}

.span {
  margin-left: 15px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #898989;
}
